<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add home to airbnb</title>
  </head>
  <body>
    <h1>Welcome to the add-home page</h1>
    <form action="/host/add-home" method="POST">
      <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
      </div>
      
      <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
      </div>
      
      <button type="submit" class="submit-btn">Submit</button>
    </form>
  </body>
</html>